.text-right {
    text-align: right !important;
    display: flex !important;
    justify-content: flex-end !important;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.vertical-align h6{
    margin-bottom: 0rem !important;
}

// .main-body{
//     height: 100vh;
// }
